*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --primaryColorGreen:  hsl(163, 72%, 41%);
    --primaryColorRed:  hsl(356, 69%, 56%);
    --colorFacebook: hsl(208, 92%, 53%);
    --colorTwitter:  hsl(203, 89%, 53%);
    --colorInstagram: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --toggleDarkTheme: linear-gradient( hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --toggleLightTheme:  hsl(230, 22%, 74%);
    --lightThemeBackground:  hsl(0, 0%, 100%);
    --lightThemePaleBlue:hsl(225, 100%, 98%);
    --lightThemeGrayishBlueCard:hsl(227, 47%, 96%);
    --lightThemeGrayishBlueText:hsl(228, 12%, 44%);
    --lightThemeColorText:hsl(230, 17%, 14%);
    --darkThemeBlueBackground:hsl(230, 17%, 14%);
    --darkThemeDarkBlueTopBG: hsl(232, 19%, 15%);
    --darkThemeDesaturatedBlueCard: hsl(228, 28%, 20%);
    --darkThemeDesaturaredBlueText:hsl(228, 34%, 66%);
    --darkThemeColorText:hsl(0, 0%, 100%);

}

html, body{
    height: 100%;
}

html{
    background: var(--lightThemeBackground);
    color: var(--lightThemeColorText);
}

.green{
    color: var(--primaryColorGreen);
}

.red{
    color: var(--primaryColorRed);
}

header{
    padding: 2.5rem 4rem 12rem 4rem;
    background: var(--lightThemePaleBlue);
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .nav-content h1{
    letter-spacing: .9px;
}

nav .nav-content p{
    margin-top: .3rem;
    opacity: .8;
    font-size: .8rem;
    font-weight: 700;
}

.main-cards{
    padding: 0 4rem;
    margin-top: -6rem;
}

.container{
    display: flex;
    justify-content: space-between;
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: var(--lightThemeGrayishBlueCard);
    padding: 4rem;
    margin-right: 1rem;
    width: 320px;
    height: 280px;
    text-align: center;
}

.cards:nth-child(1){
    border-top: 4px solid var(--colorFacebook);
    border-radius: 5px;
}

.cards:nth-child(2){
    border-top: 4px solid var(--colorTwitter);
    border-radius: 5px;
}

.cards:nth-child(3){
    border-image-source: var(--colorInstagram);
    border-top: 4px solid;
    border-image-slice: 1 ;
    border-radius: 10px !important;
}

.cards:nth-child(4){
    border-top: 4px solid var(--primaryColorRed);
    border-radius: 5px;
}

.cards span{
    padding: 0.3rem 0;
}

.cards span:nth-child(1){
    font-weight: 700;
}

.cards span:nth-child(2){
    font-size: 3.5rem;
    font-weight: 700;
}

.cards span:nth-child(3){
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cards span:nth-child(4){
    font-weight: 700;
    margin-top: 2rem;
}

.overview{
    padding: 4rem;
}

.overview h2{
    margin-bottom: 1.6rem;
    color: var(--lightThemeGrayishBlueText);
    letter-spacing: 1.5px;
}

.container-overview{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
   
}

.cards-overview{
    margin-right: 1rem;
    width: 280px;
    height: 140px;
    margin-bottom: 2rem;
    background-color: var(--lightThemeGrayishBlueCard);
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 4px;
}

.cards-overview h4{
    color: var(--lightThemeGrayishBlueText);
}

.first-row{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.second-row{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
    font-weight: 700;
}

.second-row span:nth-child(1){
    font-size: 2rem;
    position: relative;
}

.second-row .green::before{
    content: url(/images/icon-up.svg);
    position: relative;
    bottom: 4px;
    right: 5px;
}

.second-row .red::before{
    content: url(/images/icon-down.svg);
    position: relative;
    bottom: 4px;
    right: 5px;
}



