@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

ul{
    list-style: none;
    display: flex;
    text-align: right;
}

.header{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.container-fluid{
    padding: 15px 5%;
}

.nav-item {
    padding: 10px 8px;
}

.nav-link{
    text-decoration: none;
    text-align: right;
    color: hsl(273, 4%, 51%);
    letter-spacing: 1.2px;
    transition: .4s;
}

.nav-link:hover{
    color:  hsl(270, 9%, 17%);
}

#icon-hamburguer{
    font-size: 30px;
}

.btn-view{
    margin-left: 10px;
    height: 44px;
    padding: 0px 20px;
    border: 2px solid hsl(270, 9%, 17%);
    transition: ease-in-out 0.5s;
    border-radius: 1.5px;
}

.btn-view a{
    color:  hsl(270, 9%, 17%) !important;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

.btn-view:hover{
    background-color: hsl(270, 9%, 17%);
   
}
.btn-view a:hover{
    color: hsl(0, 0%, 98%) !important;
}

.bg-1{
    padding-top: 120px;
    padding-bottom: 100px;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    flex-wrap: wrap;
}

.hr{
    max-width: 150px;
    margin-left: 90px;
    align-items: center;
    margin-bottom: 80px;
}

.container-bg-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5%;
}

.left-container-bg1{
    color: hsl(0, 0%, 98%);
    flex-wrap: wrap;
}

.left-container-bg1 h1{
    font-family: 'DM Serif Display', serif;
    font-size: 4.2rem;
    margin-bottom: 35px;
    line-height: 1;
}

.left-container-bg1 h4{
    margin: 20px 0;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    max-width: 600px;
    line-height: 1.5;
}

.btn-left-container-bg1 {
    text-align: center;
    margin-top: 30px;
    border-radius: 2px;
    display: block;
    height: 48px;
    padding: 0px 45px;
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 1;
    transition: ease-in-out 0.5s;
    font-size: 15px;
}

.btn-left-container-bg1 a{
    margin: 0 auto;
}

.btn-left-container-bg1:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%) !important;
}

.btn-left-container-bg1 a:hover{
    color: hsl(256, 26%, 20%) !important;
}

.right-container-bg1{
    flex-wrap: wrap;
}
.right-container-bg1 img{
    position: absolute;
    top: 10px;
    right: 40px;
    max-width: 500px;
    max-height: 580px;
}

.how-we-work{
    margin-top: 240px;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    flex-wrap: wrap;
    padding: 0 8%;
}

.container-how-we-work{
    padding: 0 5%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.hr-how-we-work{
    max-width: 150px;
    margin-bottom: 50px;
    color: hsl(273, 4%, 51%);
}

.container-how-we-work h1{
    font-family: 'DM Serif Display', serif;
    font-size: 3.8rem;
    letter-spacing: 2.5px;
    color: hsl(270, 9%, 17%);
    margin-bottom: 70px;
}

.container-boards{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-boards img{
    height: 80px;
    margin: 25px;
}

.boards h3{
    color: hsl(270, 9%, 17%);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.boards h4{
    color:hsl(273, 4%, 51%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.2px;
    max-width: 360px;
    line-height: 1.6;
    margin-bottom: 150px;
}

.find-out-more{
    background-color: hsl(256, 26%, 20%);
    /* background-image: url(../images/bg-pattern-how-we-work-desktop.svg); */
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 5%;
    padding: 60px 0;
    border-radius: 2px;
}

.container-find-out-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8%;
}

.container-find-out-more h1{
    font-family: 'DM Serif Display', serif;
    color: hsl(0, 0%, 98%);
    font-size: 50px;
    display: flex;
    padding-bottom: 15px;
   
}

.container-find-out-more button{
    height: 50px;
    padding: 0 40px;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 98%);
    cursor: pointer;
    max-width: 250px;
}

.container-find-out-more button:hover{
    background-color: hsl(0, 0%, 98%);
    transition: ease-in-out 0.5s;
    color: hsl(256, 26%, 20%) !important;
}

.container-find-out-more a{
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: 'Karla', sans-serif;
}

.container-find-out-more a:hover{
    color: hsl(256, 26%, 20%) !important;
}

.footer{
    width: 100%;
    background: url(../images/bg-pattern-footer-desktop.svg) left center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.containter-social-media{
    flex-wrap: wrap;
    width: 1250px;
    align-items: center;
    max-width: 100%;
    padding: 2% 0%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.icon-social-media img{
    margin: 30px 8px;
    float:right;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.icon-social-media img:hover{
    filter: brightness(20%);
}

.more-info{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    font-family: "Karla", sans-serif;
    padding: 0 5%;
    font-weight: 600;
    flex-wrap: wrap;
    font-size: 14px;
    text-transform: uppercase;
}

.title{
    color:hsl(273, 4%, 51%);
    font-weight: 600;
    padding-bottom: 30px;
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

.infos p{
    color: hsl(256, 26%, 20%);
    padding-bottom: 5px;
    flex-wrap: wrap;
}

.infos a{
    text-decoration: none;
    color: hsl(256, 26%, 20%);
    transition: ease-in-out 0.3s;
}

.infos a:hover{
    filter: brightness(20%);
}

.attribution{
    padding: 20px 0;
    color: hsl(273, 4%, 51%);
    font-family: 'Karla', sans-serif;
}

.attribution a{
    text-decoration: none;
    color: hsl(256, 26%, 20%);
}

@media(max-width:1150px){
    .container-bg-1{
        width: 100%;
    }
    .hr{
        margin-left: auto;
        margin-right: auto;
    }
    .left-container-bg1 h4 {
        margin-bottom: 4%;
        padding-right: 10%;
    }


    .right-container-bg1 img{
        width: 90%;
        position: static;
        margin-top: 5%;
       
    }
    .container-boards{
        margin: 0 auto;
        text-align: left;

    }
    .container-how-we-work h1, .hr-how-we-work{
        margin: 5% 6%;
        width: 100%;
    }
    .boards{
        margin: 0 6%;
        padding-right: 2%;
        width: 100%;
    }
}

@media(max-width: 1000px){
    .footer{
        text-align: center;
        float: none;
    }
    .icon-social-media img{
        float: none;
    }
}